@charset "UTF-8";
a {
  text-decoration: none;
}

body {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "menu-enchante";
  src: url(../fonts/Satisfy-Regular.ttf);
}
@font-face {
  font-family: "descriptif-menu-chic";
  src: url(../fonts/AnticSlab-Regular.ttf);
}
@font-face {
  font-family: "menu-chic";
  src: url(../fonts/Amita-Regular.ttf);
}
@font-face {
  font-family: "menu-delice";
  src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "menu-descriptif-delice";
  src: url(../fonts/Chilanka-Regular.ttf);
}
@font-face {
  font-family: "menu-palette";
  src: url(../fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: "menu-word";
  src: url(../fonts/ComicNeue-LightItalic.ttf);
}
@font-face {
  font-family: "main-title-gout";
  src: url(../fonts/kaushanscript-regular.ttf);
}
@keyframes shake {
  0% {
    transform: translate(2px, 0);
  }
  25% {
    transform: translate(0px, -2px);
  }
  50% {
    transform: translate(-2px, 0px);
  }
  100% {
    transform: translate(0px, -2px);
  }
}
@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #579c87;
}

.logo {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -5px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  color: #fdcb46;
  font-weight: 900;
}

.footer {
  width: 100%;
  height: 40px;
  border-top: 1px solid #579c87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #579c87;
  padding: 35px 0px;
  position: fixed;
  bottom: 0px;
}

.link a {
  color: #fdcb46;
}

.link {
  padding: 40px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.link:hover {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

.menu-delice-des-papilles .menu-plats {
  font-family: "menu-descriptif-delice";
}

.main-title-delice-papilles {
  text-transform: none;
  background: linear-gradient(to right, #182ce4 0%, #7bc3f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  font-family: "menu-delice";
  margin-bottom: 2em;
  font-size: 60px;
}

.menu-word-centering-delice {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #182ce4;
  font-family: "menu-word";
}

.text-menu-delice {
  font-size: 30px;
  background: linear-gradient(101deg, #1f045e 0%, #8dcef3 41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-menu-color-delice {
  background-color: #eeeaea;
}

.menu-title-delice {
  display: flex;
  justify-content: center;
  font-family: "menu-descriptif-delice";
}

.hr_lddp_left, .hr_lddp_right {
  color: #2412c6;
}

.hr_lddp_left2, .hr_lddp_right2 {
  color: #5442f3;
}

.hr_lddp_left3, .hr_lddp_right3 {
  color: #695aee;
}

.menu-note-enchantee .menu-plats {
  font-family: "menu-palette";
}

.main-title-enchante, .menu-title-enchante {
  display: flex;
  justify-content: center;
  font-family: "menu-enchante";
  font-size: 20px;
}

.text-menu-enchante {
  font-size: 30px;
  color: black;
}

.menu-word-centering-enchante {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "menu-word";
}

.main-title-enchante {
  font-size: 30px;
  font-family: cursive;
}

.icone-music {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: #c33522;
  background: linear-gradient(299deg, #f1f36a 0%, rgba(219, 14, 14, 0.932) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  margin-right: 15px;
}

.first-icone-music {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: #c33522;
  background: linear-gradient(299deg, #f1f36a 0%, rgba(219, 14, 14, 0.932) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  margin-top: 4em;
}

.end-note {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-bottom: 2em;
  margin-top: 2em;
  font-family: cursive;
  font-size: 30px;
}

.end-note-text {
  color: black;
}

.main-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: "menu-enchante";
  font-size: 25px;
  color: black;
}

.main-menu-color-enchante {
  background-color: #fadbcf;
}

.hr_lne_left .hr_lpdg_right {
  color: black;
}

.menu-chic-française .menu-plats {
  font-family: "descriptif-menu-chic";
}

.text-menu-chic {
  font-size: 25px;
  background: linear-gradient(299deg, #e4cb5f 0%, rgba(194, 33, 194, 0.884) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-word-centering-chic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c7850a;
  font-family: "Times New Roman", Times, serif;
}

.main-title-chic {
  display: flex;
  justify-content: center;
  font-family: "menu-chic";
  padding-bottom: 1em;
  text-transform: none;
  background: linear-gradient(to right, #f5ad11 0%, #1a0cdf 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 35px;
}

.menu-title-menu-chic {
  display: flex;
  justify-content: center;
  font-family: serif;
}

.first-chic-menu-color {
  color: rgba(189, 118, 12, 0.822);
}

.second-chic-menu-color {
  color: #c546c5;
}

.third-chic-menu-color {
  color: #4a12ce;
}

.main-menu-color-chic {
  background-color: #f3e6f0;
}

.hr_lcalf_right1, .hr_lcalf_left1 {
  border-color: #c67412;
}

.hr_lcalf_right2, .hr_lcalf_left2 {
  border-color: #c612bd;
}

.hr_lcalf_right3, .hr_lcalf_left3 {
  border-color: #2412c6;
}

.menu-palette-du-gout .menu-plats {
  font-family: "menu-palette";
}

.text-menu-gout {
  font-size: 30px;
  background: linear-gradient(299deg, #ccf3cf 0%, rgba(79, 206, 20, 0.884) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-title-menu-gout {
  text-transform: none;
  background: linear-gradient(to right, #45e725 0%, #bfecc7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}

.menu-word-centering-gout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4bd030;
  font-family: "menu-word";
}

.main-title-menu-gout, .menu-title-gout {
  display: flex;
  justify-content: center;
  font-family: "main-title-gout";
}

.menu-title-gout {
  font-size: 30px;
}

.main-menu-color-gout {
  background-color: white;
}

.hr_lpdg_left, .hr_lpdg_right {
  color: #16e916;
}

.mentions-legales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  font-size: 25px;
}

body {
  background-color: #F5F5F5;
  margin: 0px;
}

a {
  color: #fdcb46;
}

.contenair {
  margin: auto;
  max-width: 1200px;
}

.soon {
  color: #fdcb46;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}

.soon::after {
  animation: dotty steps(1, end) 2s infinite;
  padding-left: 3px;
  content: "";
}

.frame-soon {
  border: 1px transparent;
  border-radius: 8px;
  background-color: #579c87;
  margin: 200px;
  line-height: 30%;
  width: 250px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.section-menu {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  flex-wrap: wrap;
  align-items: center;
}

.first-bloc, .second-bloc {
  display: inline-flex;
}

.menu-card {
  margin: 1em 1em 1em 1em;
  font-size: xx-large;
  border-color: transparent;
  box-shadow: 3px 3px 3px 3px #aaa;
  width: 10em;
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.interne-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.interne-box:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.icone-music-main {
  display: flex;
  justify-content: center;
  background: #c33522;
  background: linear-gradient(299deg, #eefcef 0%, rgba(219, 14, 14, 0.932) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blank-space {
  width: 100%;
  display: block;
  height: 100px;
  margin-top: 40px;
}

.main-menu {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 3px 3px 3px 3px #aaa;
  color: black;
  margin: auto;
  max-width: 800px;
  margin-bottom: 200px;
}

.menu-card-la-note-enchante {
  background-color: #fadbcf;
  font-family: "menu-enchante";
}

.menu-card-le-delice-des-papilles {
  background-color: #eeeaea;
  font-family: "menu-delice";
}

.menu-card-le-chic-a-la-française {
  background-color: #f3e6f0;
  font-family: "menu-chic";
}

.menu-card-la-palette-du-gout {
  background-color: white;
  font-family: "menu-palette";
}

.first-title {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 32px;
}

.menu-plats {
  margin: 0 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.plat-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.menu-word-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-subtitle {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.menu-subtitle h3 {
  flex: 1 1 0%;
}

.line {
  border-bottom: 5px solid;
  width: 200px;
  display: block;
  flex: 1 1 0%;
}

h3 {
  padding-bottom: 6px;
  position: relative;
}
h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  transform: scale(0, 0);
  height: 5px;
  background-color: rgba(3, 3, 3, 0.8);
  transition: transform 450ms;
}
h3:hover::after {
  transform: scale(2, 0.5);
  transform-origin: left;
  width: 50%;
}

@media all and (max-width: 950px) {
  .first-bloc, .second-bloc {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .main-menu {
    margin: 0em;
    padding: 0em;
  }

  .legal-notice-and-contact {
    display: flex;
    flex-direction: column;
  }

  .menu-plats {
    padding: 0px;
  }

  .first-title {
    margin: 20px;
  }

  .main-menu, .body {
    margin: auto;
  }

  .link {
    padding: 0px;
  }
}
@media all and (max-width: 750px) {
  .first-bloc, .second-bloc {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .main-menu {
    margin: 0em;
    padding: 0em;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
  }

  .link {
    padding: 0px;
  }

  .frame-soon {
    margin-bottom: 15px;
  }

  .line {
    display: none;
  }

  .body {
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
